html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  border: 0;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  background: #151e27;
}
.container{
  background-color: #17222c;
  border-radius: 50px;
  border:  #151f29 solid 20px;
  box-shadow: inset 8px 8px 8px #121b23, inset -8px -8px 8px #1c2935;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  height: 80vh;
}
/* --------------------------------------------------
   --------3D On-Off-Switch
   -------------------------------------------------- */
.on-off-Switch {
  display: flex;
  position: inherit;
  margin-left: -12%;
  width: 30%;
  height: 40vh;
  --on: #ae0bcf;
  --off: #3e4c5a;
  --transDur: 0.6s;
}
input {
  position: fixed;
  transform: translateX(-100%);
}
.toy-toggle {
  background:
    radial-gradient(at top left,#fff 10%,#fff0 20%),
    radial-gradient(at top right,#fff 20%,#e4e4e4 35%);
  border-radius: 6em;
  box-shadow:
    0 0 0.25em #0002,
    0 3em 1.5em 0.5em #0002;
  cursor: pointer;
  display: block;
  font-size: 12px;
  position: relative;
  margin: auto;
  width: 20em;
  height: 12em;
  -webkit-tap-highlight-color: transparent;
}
.toy-toggle span {
  display: block;
  position: absolute;
}
.toy-toggle > span {
  top: 50%;
  left: 50%;
}
.toy-toggle > span:not(.handle) {
  transform: translate(-50%,-50%);
}
.border1 {
  background: #f0f0f0;
  border-radius: 5.5em;
  box-shadow: 0 0 0.2em 0.1em #f0f0f0;
  width: 19em;
  height: 11em;
}
.border2 {
  background: linear-gradient(0deg,#fff 33%,#ccc 45%);
  border-radius: 4.75em;
  /* box-shadow: 0 0 0.2em 0.3em #f0f0f0 inset; */
  box-shadow: inset 8px 8px 8px #121b23, inset -8px -8px 8px #1c2935;
  width: 16.5em;
  height: 9.5em;
}
.border3, .handle {
  background: linear-gradient(90deg, var(--on) 50%, var(--off) 0);
}
.border3 {
  background-position: 75% 0;
  background-size: 200% 100%;
  border-radius: 4.25em;
  /* box-shadow:
    0 0 0.1em 0.1em #ddd inset,
    0 1.5em 1.5em 1em #0004 inset,
    0 0 0 4.25em #0002 inset; */
    box-shadow: inset 8px 8px 8px #121b23, inset -8px -8px 8px #1c2935;
  width: 15.5em;
  height: 8.5em;
  transition: background-position var(--transDur) ease-in-out;
}
.handle {
  border-radius: 50%;
  box-shadow: 0 0 0.5em 0 #0007;
  width: 8.5em;
  height: 8.5em;
  transform: translate(-90%,-50%);
  transition: transform var(--transDur) ease-in-out;
  z-index: 0;
}
.handle:before {
  background:
    radial-gradient(2em 1.5em at 50% 35%,#fff6 15%,#fff0),
    radial-gradient(1.5em 2.5em at 75% 40%,#fff6 15%,#fff0),
    radial-gradient(100% 100% at 50% 33%,#0000 25%,#0003 50%);
  border-radius: 50%;
  box-shadow: 0 0 0.3em 0.1em #0003 inset;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.handle-off, .handle-on {
  width: 50%;
  height: 100%;
  transition: transform calc(var(--transDur)/2);
  z-index: 2;
}
.handle-off {
  background: var(--off);
  border-radius: 100% 0 0 100% / 50% 50% 50% 50%;
  right: 50%;
  transform-origin: 100% 50%;
  transition-delay: calc(var(--transDur)/2);
  transition-timing-function: ease-out;
}
.handle-on {
  background: var(--on);
  border-radius: 0 100% 100% 0 / 50% 50% 50% 50%;
  left: 50%;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-timing-function: ease-in;
}

/* On */
input:checked + .toy-toggle .border3 {
  background-position: 25% 0;
}
input:checked + .toy-toggle .handle {
  transform: translate(-10%,-50%);
}
input:checked + .toy-toggle .handle-off {
  transform: scaleX(0);
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
input:checked + .toy-toggle .handle-on {
  transform: scaleX(1);
  transition-delay: calc(var(--transDur)/2);
  transition-timing-function: ease-out;
}
/* ----------------------X--------------------------- */

/* --------------------------------------------------
   --------Circle Display
   -------------------------------------------------- */
.con_display{
  margin: 0;
  width: 200px;
  height: 200px;
  left: 20%;
  bottom: 20%;
  display: flex;
  position: absolute;
  
}
.display{
  background: #151f29;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.7em; 
  background: linear-gradient(145deg, #151f28, #19242f);
  box-shadow: 10px 10px 20px #121b23, -10px -10px 20px #1c2935;
  
}
/* ----------------------X--------------------------- */


/* --------------------------------------------------
   --------Pattern Buttons
   -------------------------------------------------- */
button{
  background: #151f29;
  color: #fff;
  width: 120px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 8px 8px 8px #121b23, inset -8px -8px 8px #1c2935;  
}

button.b1{
  margin-left: 50%;
  top: 50%;
  
}
button.b2{
  top: 50%;
  
}
button.b3{
  top: 50%;
  
}
button.b4{
  margin-left: 50%;
  top: 60%;
  
}
button.b5{
  top: 60%;
  
}
button.b6{
  top: 60%;
  
}
button.b7{
  margin-left: 50%;
  top: 70%;
}
button.b8{
  top: 70%;
}
button.b9{
  top: 70%;
}
button:hover{
  background: #ae0bcf;
}
button:focus{
  background: #ae0bcf;
}
/* ----------------------X--------------------------- */


/* --------------------------------------------------
   --------Day Night-Switch
   -------------------------------------------------- */
* {
  user-select: none;
}


#toggle2_checkbox {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 25%;
  right: 0;
  left: 70%;
  width: 136px;
  height: 76px;
  margin: 0 auto;
  background-color: #85E8FE;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease background-color;
  overflow: hidden;
  border: #fff solid 10px;
}

#star {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 30px;
  height: 30px;
  background-color: #FEC100;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 2;
}

#star-1 {
  position: relative;
}

#star-2 {
  position: absolute;
  transform: rotateZ(36deg);
}

.star {
  top: 0;
  left: -7px;
  font-size: 54px;
  line-height: 28px;
  color: #FEC100;
  transition: 0.3s ease color;
}

#moon {
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#moon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

#toggle2_checkbox:checked + label {
  background-color: #44568c;
}

#toggle2_checkbox:checked + label #star {
  top: 3px;
  left: 64px;
  transform: scale(0.3);
  background-color: yellow;
}

#toggle2_checkbox:checked + label .star {
  color: yellow;
}

#toggle2_checkbox:checked + label #moon {
  bottom: 8px;
}

#toggle2_checkbox:checked + label #moon:before {
  background-color: #44568c;
}
/* ----------------------X--------------------------- */



